---
- name: Install Checkmk Agent on Ubuntu 24.04 Servers
  hosts: all
  become: true
  tasks:

    - name: Download Checkmk agent .deb package
      get_url:
        url: https://monitor.staticfield.dk/prod/check_mk/agents/check-mk-agent_2.4.0p14-1_all.deb
        dest: /tmp/check-mk-agent_2.4.0p14-1_all.deb
        mode: '0644'

    - name: Install Checkmk agent
      apt:
        deb: /tmp/check-mk-agent_2.4.0p14-1_all.deb
        state: present

    - name: Ensure check-mk-agent service is enabled and running (if applicable)
      service:
        name: check-mk-agent
        enabled: yes
        state: started
      ignore_errors: yes  # In case the agent doesn't use a systemd service
