---
- name: Run Windows Update
  hosts: "{{ hosts }}"
  gather_facts: no
  tasks:
    - name: Installer alle opdateringer via Windows Update
      win_updates:
        server_selection: windows_update
        category_names: 
          - CriticalUpdates
          - SecurityUpdates
          - Updates
          - UpdateRollups
          - FeaturePacks
          - DefinitionUpdates
        reboot: yes
        reboot_timeout: 1800
      register: update_result

    - name: Log opdateringsresultat
      copy:
        content: "{{ update_result | to_nice_json }}"
        dest: C:\Windows\Temp\update_log.json
